# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# IDE/editor folders
.vscode/
.idea/

# Environment variables
.env

# MacOS system files
.DS_Store

# Pytest cache
.pytest_cache/

